.h-55 {
    height: 50px;
}

.offcanvas-below-header {
    margin-top: 51px;
}

.mobile-header {
    border-bottom: 1px solid #243443;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.mobile-header-li {
    text-decoration: none;
    color: #fff;
}

.nav-item:hover {
    background-color: #4b6a81;
}

.icon-fixed-width {
    width: 24px; /* Фиксированная ширина для иконок */
    text-align: center; /* Центрирование внутри контейнера */
    font-size: 1.2rem;
}

.sidebar {
    width: 330px;
    background: #1e2a37;
    color: white;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        display: block;
    }
    .content {
        margin-left: 330px;
        height: 100vh;
        overflow-x: auto; /* Позволяет прокручивать контент, если он не помещается */
    }
    .limited-width {
        max-width: 700px;
    }
    .full-width {
        max-width: 100%;
    }
    .mobile-header {
        display: none;
    }
}