.template-days-per-week {
    padding: 3px; /* Внутренние отступы */
    border: 1px solid #3a3f4c; /* Граница кнопки */
    background-color: #3a3f54; /* Тёмно-синий фон с серым оттенком */
    border-color: #4e5a73; /* Граница чуть светлее фона */
    color: #d6e1f2; /* Светло-синий текст */
}
