
.template-exercise-item-muscle-group {
    background-color: #240046;
    color: #E0AAFF;
    border: 1px solid #7B2CBF;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.5px;
    padding: 3px 8px;
}

